* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*--MAINE PAGE--*/

#main_page {
  background-size: cover;
  background-position: center;
  width: 100%;
  background-image: url(light.gif);
}

#main_page div#pre_load {
  display: block;
  position: relative;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#main_page {
  position: absolute;
  top: 0;
  background-position: center;
  background-size: cover;
  display: none;
  height: 100%;
  width: 100%;
}

#main_page h1,
#second_page h1 {
  position: relative;
  top: 50px;
  color: red;
  font-size: 50px;
  text-align: center;
}

#main_page h1 span,
#second_page h1 span {
  color: black;
}

#main_page ul {
  position: absolute;
  top: 60px;
  right: 10px;
  padding-top: 12px;
  height: 50px;
  overflow: hidden;
}

#main_page li {
  padding-right: 10px;
  display: inline-block;
}

#main_page li a {
  text-decoration: none;
  color: #ffffff;
  background-color: red;
  border-radius: 15px;
  border: 2px solid red;
  padding: 10px;
  font-weight: bold;
  font-size: 13px;
}

#main_page li:hover a {
  text-decoration: none;
  color: #000000;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.8s;
}

.list_btn,
.goBack_btn {
  position: absolute;
  cursor: pointer;
  top: 60px;
  left: 35px;
  height: 50px;
  width: 79px;
  background-image: url(dark.png);
  background-size: cover;
  background-position: center;
  border-radius: 15%;
  border: none;
}

/*--SECOND PAGE--*/

#second_page {
  position: absolute;
  top: 0;
  background-position: center;
  background-size: cover;
  background-image: url("page-2-image.gif");
  display: block;
  height: 100%;
  width: 100%;
}

#second_page .goBack_btn {
  position: absolute;
  background-image: url("Youtube-Japan.png");
  cursor: pointer;
  top: 35px;
  bottom: 35px;
  right: 35px;
  height: 53px;
  width: 60px;
  background-size: cover;
  background-position: center;
  border-radius: 15%;
  border: none;
}

#second_page .tasks {
  text-align: center;
  display: block;
  margin-top: 150px;
}

#second_page .tasks li {
  list-style-type: none;
  margin-bottom: 30px;
}
#second_page .tasks li a {
  padding: 5px 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 1px solid black;
}

#second_page .tasks ul li a:hover {
  color: rgb(255, 255, 255);
  background-color: black;
  border-color: rgb(255, 255, 255);
}
#second_page .slide_left a {
  padding: 10px 32px;
}

#second_page .slide_left2 a{
  padding: 10px 25px;
}

#second_page .slide_right  a{
  padding: 10px 20px;
}

#second_page .slide_left,
#second_page .slide_left2{
  transform: translateX(-1050px);
}

#second_page .slide_right {
  transform: translateX(1000px);
}

#second_page h2 {
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 2em;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
}



/* #second_page.tasks:hover {
  text-decoration: none;
  color: #000000;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.8s;
} */

.btn {
  text-decoration: none;
  color: #ffffff;
  background-color: red;
  border-radius: 15px;
  border: 2px solid red;
  padding: 10px;
  font-weight: bold;
  font-size: 13px;
  margin: 13px;
}

.btn--margin {
  margin-left: 570px;
}

.arrows-btn {
  border-radius: 15px;
  color: #ffffff;
  border-color: black;
  cursor: pointer;
}

.btn:hover {
  text-decoration: none;
  color: #000000;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.8s;
}
table#infoTable5 tr th {
  width: 300px;
}

table#infoTable tr th {
  font-family: "Dela Gothic One", cursive;
  color: brown;
  width: 200px;
}
table#infoTable tr td {
  background-color: rgba(255, 0, 0, 0.322);
  font-family: "Dela Gothic One", cursive;
  color: brown;
  height: 20px;
  width: 200px;
}

.table-title {
  font-family: "Dela Gothic One", cursive;
  font-size: 23px;
  margin: 13px 0;
  color: brown;
}

.input-title {
  font-family: "Dela Gothic One", cursive;
  color: rgba(255, 0, 0, 0.664);
}

.stat-title {
  font-family: "Dela Gothic One", cursive;
  color: red;
  text-align: center;
}

.container {
  margin-top: 150px;
  text-align: center;
}

.channel-input {
  font-family: "Dela Gothic One", cursive;
  border-color: rgba(255, 0, 0, 0.349);
  border-radius: 15px;
}
table#infoTable tr th {
  width: 200px;
}
table#infoTable tr td {
  background-color: rgb(172, 131, 131);
  height: 20px;
  width: 200px;
}
div.compare {
  height: 200px;
  width: 500px;
  margin: auto;
  position: relative;
  margin-bottom: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
div.compare span,
div.compare input,
div.compare button {
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
div.compare span {
  width: 150px;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 20px;
  font-family: "Dela Gothic One", cursive;
}
div.compare input {
  width: 200px;
  margin: auto;
  margin-bottom: 20px;
  font-family: "Dela Gothic One", cursive;
  color: #000000;
}
#channelID2 {
  margin-bottom: 20px;
}
div.compare button {
  width: 150px;
  margin: auto;
}
table#infoTable5 tr th {
  width: 500px;
  font-family: "Dela Gothic One", cursive;
  color: brown;
}
table#infoTable5 tr td {
  background-color: rgb(172, 131, 131);
  height: 20px;
  width: 500px;
  font-family: "Dela Gothic One", cursive;
  color: brown;
  text-align: center;
}



body.dark .list_btn,
.goBack_btn {
  background-image: url(light.png);
}

body.dark #main_page {
  background-image: url(dark.gif);
}

body.dark #main_page h1 span,
body.dark #second_page h1 span {
  color: #ffffff;
}

body.dark {
  background-color: rgba(0, 0, 0, 0.918);
  color: #ffffff;
}